<footer class="main-footer">
    <div class="footer-content">
        <!-- Col 1: Brand -->
        <div class="footer-col brand-col">
            <div class="footer-logo-box">
          <a href="#" class="logo">
            <img src="imgs/logo-white-background.png" alt="RAYA HOMES">
        </a>
            </div>
            <p class="footer-desc">At Raya Homes we specialize in delivering exceptional property management services across the vibrant Triangle region. Whether you're a homeowner, investor, or tenant, our locally rooted team brings deep market knowledge, personalized service, and a commitment to excellence that sets us apart.</p>
        </div>

        <!-- Col 2: Address -->
        <div class="footer-col">
            <h4>ADDRESS</h4>
            <ul class="footer-links">
                <li><a href="#">Raya Homes LLC</a></li>
                <li><a href="#">300 Revere Crossing Ln</a></li>
                <li><a href="#">Cary, NC 27519-6886</a></li>
            </ul>
        </div>

        <!-- Col 3: Links -->
        <div class="footer-col">
            <h4>LINKS</h4>
            <ul class="footer-links">
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="#">Accessibility Statement</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Raya Homes LLC. All Rights Reserved.</p>
    </div>
</footer>
